[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/vncnt-hugo"]
	path = themes/vncnt-hugo
	url = https://github.com/fncnt/vncnt-hugo
